.h1 {
  font-weight: 800;
  font-size: clamp(2.5rem, 5vw, 4rem);
  line-height: 1.25;
}

.h2 {
  font-weight: 800;
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: 1.33;
}

.h3 {
  font-weight: 700;
  font-size: clamp(1.5rem, 3vw, 2rem);
  line-height: 1.5;
}

.h4 {
  font-weight: 700;
  font-size: clamp(1.125rem, 2.5vw, 1.5rem);
  line-height: 1.5;
}

.h5 {
  font-weight: 700;
  font-size: clamp(1.125rem, 2vw, 1.25rem);
  line-height: 1.5;
}

.h6 {
  font-weight: 600;
  font-size: clamp(1.0625rem, 1.8vw, 1.125rem);
  line-height: 1.56;
}

.subtitle1 {
  font-weight: 600;
  font-size: clamp(1rem, 1.5vw, 1rem);
  line-height: 1.5;
}

.subtitle2 {
  font-weight: 600;
  font-size: clamp(0.875rem, 1.2vw, 0.875rem);
  line-height: 1.57;
}

.body1 {
  font-weight: 400;
  font-size: clamp(1rem, 1.5vw, 1rem);
  line-height: 1.5;
}

.body2 {
  font-weight: 400;
  font-size: clamp(0.875rem, 1.2vw, 0.875rem);
  line-height: 1.57;
}

.caption {
  font-weight: 400;
  font-size: clamp(0.75rem, 1vw, 0.75rem);
  line-height: 1.5;
}

.overline {
  font-weight: 700;
  font-size: clamp(0.75rem, 1vw, 0.75rem);
  line-height: 1.5;
}

.button {
  font-weight: 700;
  font-size: clamp(0.875rem, 1.2vw, 0.875rem);
  line-height: 1.71;
}
