
@import "tailwindcss";


:root {


}


/* =============================== */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #000319;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}


